.left{
    margin-top: 15%;
    padding: 20px;
    width: 100%;
    margin-left: 20%;
}
.outline-style-none{
    outline: none;
}
.document{
    width: 100%;
    background: yellow;
    margin-top: 6%;
    margin-left: 20%;
}
.list-item{
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.form{
    margin-left: 28rem;
    margin-top: 5rem;
    width: 40rem;
}
.head{
    margin-left: 11rem;
}
.submit{
    background: cornflowerblue;
    margin-left: 14rem;
    width: 6rem;
    height: 2rem;
    border: 2px solid cornflowerblue;
    border-radius: 8px;
}