.document{
    width: 100%;
    background: yellow;
    margin-top: 6%;
    margin-left: 20%;
}
.list-item{
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.form{
    margin-left: 28rem;
    margin-top: 5rem;
    width: 40rem;
}
.btn-delete{
    background-color: red !important;
    border: transparent;
    border-radius: 5px;
    margin-top: 3px;
    margin-left: 7px;
}
.btn-warning{
    border: transparent;
    border-radius: 5px;
    padding: 7px;
    width: 4.5rem;
}
.btn-info{
    border: transparent;
    border-radius: 5px;
    padding: 7px;
    width: 4.5rem;
}
.head{
    margin-left: 11rem;
}
.submit{
    background: cornflowerblue;
    margin-left: 14rem;
    width: 6rem;
    height: 2rem;
    border: 2px solid cornflowerblue;
    border-radius: 8px;
}