.document{
    width: 100%;
    background: yellow;
    margin-top: 6%;
    margin-left: 20%;
}
.list-item{
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}