.hr-hiring{
    width: 80%;
    margin-left: 20%;
    margin-top: 10%;
    padding-left: 1%;
}
.imgcontainer{
    padding-bottom: 22px;
}
 .avatar{
    width: 46%;
    border-radius: 50px;
}
.avatar{
    border-radius: 140px;
    width: 143px;
}
.main-hiring{
    /* background: yellow; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;      
    width: 49%;
    margin-left: 20%;
    padding: 24px 0px;
}
.form-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container {
    text-align: center;
}
.label-name {

    font-size: 22px;
}
.name{
    width: 74%;
    padding: 10px;
}
.label-description {

    font-size: 22px;
}
/* .linkdin-button {
    background-color: #0dcaf0;
} */

.Social-meadia-buttons{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn1 button {
    background-color: #0dcaf0;
    color: white;
    padding: 4px 24px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
     width: 100%;
}