.hr-hiring{
    width: 80%;
    margin-left: 20%;
    margin-top: 10%;
    padding-left: 1%;
}
 .avatar{
    width: 46%;
    border-radius: 50px;
}
.avatar{
    border-radius: 140px;
    width: 143px;
}